- hosts: all
  gather_facts: no

  tasks:
    - name: Join domain in correct OU
      win_domain_membership:
        dns_domain_name: "{{ domain }}"
        domain_admin_user: "{{ admin_user }}"
        domain_admin_password: "{{ admin_pass }}"
        hostname: "{{ inventory_hostname }}"
        state: domain
        ou: "{{ computer_ou }}"
      register: join_result

    - name: Reboot after join
      win_reboot:
        msg: "Rebooting to complete domain join"
        reboot_timeout: 600
