- hosts: all
  gather_facts: no

  tasks:
    - name: Set new hostname before domain join
      ansible.windows.win_hostname:
        name: "{{ new_hostname }}"
      register: rename_result

    - name: Reboot if hostname changed
      ansible.windows.win_reboot:
        msg: "Rebooting after hostname change"
      when: rename_result.reboot_required

    - name: Join domain in correct OU
      microsoft.ad.membership:
        dns_domain_name: "{{ domain }}"
        domain_admin_user: "{{ admin_user }}"
        domain_admin_password: "{{ admin_pass }}"
        state: domain
        domain_ou_path: "{{ computer_ou }}"
      register: join_result

    - name: Reboot to complete domain join
      win_reboot:
        msg: "Rebooting to complete domain join"
        reboot_timeout: 600
      when: join_result.reboot_required
