- hosts: all
  gather_facts: no

  tasks:

    - name: Leave domain (move to WORKGROUP)
      microsoft.ad.membership:
        state: workgroup
        workgroup_name: WORKGROUP
      register: leave_result

    - name: Reboot after unjoin
      win_reboot:
        msg: "Rebooting after domain unjoin"
        reboot_timeout: 600
      when: leave_result.reboot_required
