- hosts: all
  gather_facts: no

  tasks:

    - name: Leave the domain and move to WORKGROUP
      microsoft.ad.membership:
        state: workgroup
        workgroup_name: WORKGROUP
      register: unjoin_result

    - name: Reboot after domain unjoin
      win_reboot:
        msg: "Rebooting after domain unjoin"
        reboot_timeout: 600
      when: unjoin_result.reboot_required
